<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="tests" verbose="3" 
	thread-count="3">
	<parameter name="serverHost" value="192.168.0.105:8080/wd/hub" />
	<parameter name="serverPort" value="4444" />
	<parameter name="environmentTested" value="http://192.168.0.109/magento/index.php" />
 	<parameter name="verifyDB" value="false" />
8080
 	<test name="Testing Android" preserve-order="false"> 
 		<parameter name="browser" value="android" /> 
 		<classes> 
 				<class name="com.Tesis.tests.SmokeTestMagento"/> 
  		</classes> 
	</test>  
	
 	
 	
<!--  	<test name="Testing IE" preserve-order="false"> 
 		<parameter name="browser" value="iexplore" /> 
 		<classes> 
 				<class name="com.Tesis.tests.SmokeTestMagento"/> 
  		</classes> 
	</test>   
	
   	<test name="Testing Chrome" preserve-order="false"> 
 		<parameter name="browser" value="chrome" /> 
 		<classes> 
 				<class name="com.Tesis.tests.SmokeTestMagento"/> 
  		</classes> 
	</test>   
	
  	<test name="Testing Firefox" preserve-order="false"> 
 		<parameter name="browser" value="firefox" /> 
 		<classes> 
 				<class name="com.Tesis.tests.SmokeTestMagento"/> 
  		</classes> 
	</test>   -->
	
<!--   	<test name="Testing HTMLunit" preserve-order="true"> 
 		<parameter name="browser" value="htmlunit" /> 
 		<classes> 
 				<class name="com.Tesis.tests.SmokeTestMagento"/> 
  		</classes> 
	</test>      -->
	
	


</suite>